<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/topcruit.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}" type="image/png">        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="logo_title">
                <a href="home.html"><img src="{{ url_for('static', filename='images/Logo.png') }}" class="logo"></a>
                <a href="home.html"><img src="{{ url_for('static', filename='images/Company.png') }}" class="company"></a>
            </div>
            <div class="resume_profile">
                 <a href="login.html">Upload Resume</a>
                 <a href="login.html"><img src="{{ url_for('static', filename='images/Profile.png') }}"></a>
            </div>
            <div class="hamburger" onclick="toggleMenu()">☰</div>
            <div class="mobile_menu" id="mobileMenu">
                <a href="home.html">Home</a>
                <a href="#about">About</a>
                <a href="#how">How it Works</a>
                <a href="#contact">Contact</a>
                <a href="signup.html">Upload Resume</a>
                <a href="profile.html">Profile</a>
            </div>
        </header>

        <main>
            <section class="company_overview_section">
                <h2>Our Story</h2>
                <p>
                TopCruit is a smart AI-driven talent acquisition platform built to simplify recruitment.
                We empower recruiters by providing job-specific applicant filtering, candidate comparisons,
                automatic rankings, and personalized resume analysis.
                </p>
                <p>
                Whether you're a company seeking the perfect fit or a recruiter navigating hundreds of applications,
                TopCruit helps you streamline the entire hiring process. Simply enter your job code to access targeted
                applicant pools, review ranked profiles, and make decisions faster and smarter.
                </p>
            </section>

            <section class="team_section">
                <h2>Meet Our Team</h2>
                <div class="team_grid">
                <div class="team_member_card">
                    <img src="{{ url_for('static', filename='images/YingEr.jpg') }}" alt="Ying Er Photo">
                    <h3>Tiew Ying Er</h3>
                    <p>Product Strategist</p>
                </div>
                <div class="team_member_card">
                    <img src="{{ url_for('static', filename='images/Isaac.jpeg') }}" alt="Isaac Photo">
                    <h3>Isaac Chong Xin Xuan</h3>
                    <p>AI Engineer</p>
                <div class="team_member_card">
                    <img src="{{ url_for('static', filename='images/TaoYu.jpg') }}" alt="Tao Yu Photo">
                    <h3>Tang Tao Yu</h3>
                    <p>Lead Developer</p>
                </div>
                <div class="team_member_card">
                    <img src="{{ url_for('static', filename='images/JieHui.jpg') }}" alt="Jie Hui Photo">
                    <h3>Chen Jie Hui</h3>
                    <p>UX/UI Designer</p>
                </div>
                </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer_top">
                <div class="footer_col">
                    <ul>
                        <h4>About Us</h4>
                        <li><a href="about_us.html">Our Story</a></li>
                        <li><a href="about_us.html">Our Team</a></li>
                    </ul>
                </div>
                <div class="footer_col">
                    <ul>
                        <h4>Contact Us</h4>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Partnerships</a></li>
                    </ul>
                </div>
                <div class="footer_col">
                    <ul>
                        <h4>Resources</h4>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <hr class="footer_divide">
            <div class="footer_bottom">
                <h4>©2025 TopCruit. All rights reserved</h4>
                <div class="footer_link">
                    <a href="#">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Settings</a>
                    <a href="#">Sitemap</a>
                </div>
                <ul>
                    <div class="social_links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </ul>
            </div>
        </footer>
        <script src="topcruit.js"></script>
    </body>
</html>