<!DOCTYPE html>
<html>
    <head>
        <title>Compare</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/topcruit.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <a href="home.html"><img src="{{ url_for('static', filename='images/Logo.png') }}" class="logo"></a>
            <div class="resume_profile">
                 <a href="upload_resume.html">Upload Resume</a>
                 <img src="{{ url_for('static', filename='images/Profile.png') }}">
            </div>
        </header>

        <main>
            <div class="compare">
                <h1>Compare Candidates</h1>
            </div>

        </main>
    </body>
</html>